- var characterArray = {
-   "Neaxgear": {
-     "name": "Neaxgear",
-     "id": "neaxgear",
-     "imgSrc": "https://imgur.com/MaY9e4e.png"
-   },
-   "Lala": {
-     "name": "Lala",
-     "id": "lala",
-     "imgSrc": "https://imgur.com/ZQTF8U8.png"
-   },
-   "Touka": {
-     "name": "Touka",
-     "id": "touka",
-     "imgSrc": "https://imgur.com/5uVyqQ5.png"
-   },
-   "Goma": {
-     "name": "Goma",
-     "id": "goma",
-     "imgSrc": "https://imgur.com/DLSH4PN.png"
-   },
-   "Lugo": {
-     "name": "Lugo",
-     "id": "lugo",
-     "imgSrc": "https://imgur.com/TSGlQPT.png"
-   },
-   "Pablo": {
-     "name": "Pablo",
-     "id": "pablo",
-     "imgSrc": "https://imgur.com/RDzT0wf.png"
-   },
-   "Orlando": {
-     "name": "Orlando",
-     "id": "orlando",
-     "imgSrc": "https://imgur.com/9XQw6lp.png"
-   },
-   "Jackson": {
-     "name": "Jackson",
-     "id": "jackson",
-     "imgSrc": "https://imgur.com/5TXcT7R.png"
-   },
-   "Basch": {
-     "name": "Basch",
-     "id": "basch",
-     "imgSrc": "https://imgur.com/DUFDnaD.png"
-   },
-   "Guile": {
-     "name": "Guile",
-     "id": "guile",
-     "imgSrc": "https://s3-us-west-2.amazonaws.com/s.cdpn.io/813538/guile.png"
-   },
-   "Ken": {
-     "name": "Ken",
-     "id": "ken",
-     "imgSrc": "https://s3-us-west-2.amazonaws.com/s.cdpn.io/813538/ken.png"
-   },
-   "Ryu": {
-     "name": "Ryu",
-     "id": "ryu",
-     "imgSrc": "https://s3-us-west-2.amazonaws.com/s.cdpn.io/813538/ryu.png"
-   },
-   "Sagat": {
-     "name": "Sagat",
-     "id": "sagat",
-     "imgSrc": "https://s3-us-west-2.amazonaws.com/s.cdpn.io/813538/sagat.png"
-   },
-   "T-Hawk": {
-     "name": "T-Hawk",
-     "id": "thawk",
-     "imgSrc": "https://s3-us-west-2.amazonaws.com/s.cdpn.io/813538/t-hawk.png"
-   },
-   "Vega": {
-     "name": "Vega",
-     "id": "vega",
-     "imgSrc": "https://s3-us-west-2.amazonaws.com/s.cdpn.io/813538/vega.png"
-   },
-   "Zangief": {
-     "name": "Zangief",
-     "id": "zangief",
-     "imgSrc": "https://s3-us-west-2.amazonaws.com/s.cdpn.io/813538/zangief.png"
-   }
    "Nya": {
-     "name": "Nya",
-     "id": "nya",
-     "imgSrc": "https://imgur.com/m7DkZFI.png" 
   }
        
- }

mixin characterCard(character)
	a.character(data-name=character.id,rel=character.name)
		img.character__img(src=character.imgSrc)
		p.character__name= character.name

.container
	img.sf-logo(src="https://vignette2.wikia.nocookie.net/ssb/images/f/f6/SF_Logo.png/revision/latest?cb=20150614010256")

	h1.title Player Select
	.select-container
		for character in characterArray
				+characterCard(character)
			
audio(autobuffer="autobuffer",autoplay="autoplay" loop="true")
	source(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/813538/02.%20Player%20Select.mp3",  type="audio/ogg")
	
footer.list-footer
	| Made with 
	span.heart &hearts; 
	| for my homies